.galeria {
	width: 60%;
	height: 250px;
	margin: 50px auto;
	padding: 20px 0 0 30px;
	justify-content: space-evenly;
	@include caja;
	@media screen and (max-width: 1440px) {
		margin-top: 30px;
		height: 200px;
		padding-top: 0px;
	}
	@media screen and (max-width: 1280px) {
		margin-top: 20px;
		height: 200px;
		padding-top: 0;
	}
	@media screen and (max-width: 1024px) {
		width: 75%;
	}
	@media screen and (max-width: 375px) {
		width: 97%;
		padding: 5px 5px;
	}
	&__foto-principal {
		float: left;
		margin-right: 10px;
		@media screen and (max-width: 375px) {
			margin-left: 15px;
			margin-right: 10px;
		}
	}
	&__fotos-adicionales img {
		height: 70px;
		margin-right: 5px;
		margin-bottom: 5px;
		@media screen and (max-width: 1280px) {
			//height: 60px;
		}
	}
	h2 {
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 20px;
		@include titulos($Fuente2);
	}
	img {
		border-radius: 10px;
	}
}